<% if admin_signed_in? %>
  <div>Welcome <%= current_admin.email %></div>
  <div class="log_in">
  <%= link_to "Admin Details",  principals_index_path %> <br>
  <%= link_to "Teacher Detail",  faculties_index_path %> <br>
  <%= link_to "Student Details",  scholars_index_path %>
  <%= button_to "Sign out", destroy_admin_session_path, method: :delete %>
  <%= link_to "edit", edit_admin_registration_path %>
  </div>
<% elsif teacher_signed_in? %>
<div class="log_in">
  <%= link_to "Teacher Details",  faculties_index_path %> <br>
  <%= link_to "Student Details",  scholars_index_path %>
  <%= button_to "Sign out", destroy_teacher_session_path, method: :delete, class: "btn-custom" %>
  <%= link_to "edit", edit_teacher_registration_path %>
</div>
<% elsif student_signed_in? %>
<div class="log_in">
<%= link_to "Student Details",  scholars_index_path %>
  <%= button_to "Sign out", destroy_student_session_path, method: :delete, class: "btn-custom" %>
  <%= link_to "edit", edit_student_registration_path %>
</div>
<% else %>
  <div class="heading">
  <h1>School Management System</h1> <br/>
  <h2>Select your role:</h2>
  </div>
  <div class="button-container">
  <%= button_to "Admin",   new_admin_session_path , class: "btn-custom" %>
  <%= button_to "Teacher", new_teacher_session_path, class: "btn-custom" %>
  <%= button_to "Student",  new_student_session_path, class: "btn-custom" %>
</div>
<% end %>