
<p class="heading1" > School Management System </p>
<p class="heading">Home Page</p>  
<% if admin_signed_in? %> 
    <div class="heading"> Welcome <%= current_admin.email %> </div>
    <br>
    <%= link_to "personal details", admins_path %>
    <%=  button_to "Sign out", destroy_admin_session_path, method: :delete ,class: "btn-custom"%> 
    <br>
    <%=  link_to "Edit" , edit_admin_registration_path %> 
<% elsif teacher_signed_in? %>
    <div class="heading"> Welcome <%= current_teacher.email %> </div> 

    <br>
    <%=  link_to "Edit" , edit_teacher_registration_path %> 
    <br>
    <%= button_to "Sign out", destroy_teacher_session_path, method: :delete ,class: "btn-custom" %> 
  
<% elsif student_signed_in? %> 
    <div class="heading"> Welcome <%= current_student.email %> </div>
    <%= button_to "Sign out", destroy_student_session_path, method: :delete ,class: "btn-custom" %> <br>
    <%=  link_to "Edit" , edit_student_registration_path %> 

<% else %>
  <p class="heading">Home Page</p>  
  <p class="heading">select your role</p>
  <div class="button-container">
  <%= button_to "Admin", new_admin_session_path , class: "btn-custom"%> 
  <br>
  <%= button_to "Teacher", new_teacher_session_path , class: "btn-custom"%> 
  <br>
  <%= button_to "Student", new_student_session_path , class: "btn-custom"%> 
</div>
<% end %>