<h1>Student List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Contact Number</th>
            <th>Parent Name</th>
            <% if teacher_signed_in? or admin_signed_in?%>
                <th>Edit</th>
            <% end %>
            <% if teacher_signed_in? or admin_signed_in?%>
            <th>Destroy</th>
            <% end %>
        </tr>
        <% @student.each do |students| %>
            <tr>
            <td><%= students.full_name %></td> 
           <td><%= students.email %></td>
            <td><%= students.contact_number %></td>
            <td><%= students.parent_name %></td>
            <% if teacher_signed_in? or admin_signed_in? %>
            <td><%= link_to "Edit", edit_student_registration_path %></td>
            <% end %>
            <% if teacher_signed_in? or admin_signed_in?%>
            <td><%= link_to "Destroy", scholar_path(students), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to destroy student ?"
              } %></td>
              <% end %>
            </tr>
        <% end %>
    </table>
